---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  padding: 0 30px;
  top: -15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.col-md-4 { 
  flex: 0 0 33.33%;     // the '4' part
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-img {
  position: relative;
  height: 150px;
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 0;
  margin: 0 auto;
}

.card-body { 
  //flex: 1 1 auto;   //
  text-align: left;
  padding: 1.25rem;
  border-top: solid 1px rgb(190, 190, 190);
  background-color: rgb(233, 233, 231);
}

.shadow { 
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.my-3 { 
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-0 { 
  margin-top: 0;
  margin-bottom: 0;
}

.badge { 
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge-pill { 
  padding: 0 .6em;
  border-radius: 10rem;
  color: white;
  background-color: #007bff;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
